<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.rentalcategory"
            name="rental">
      </category>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.AgencyView"
            id="com.sogeti.rental.ui.AgencyView"
            name="Agency View"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.CustomerView"
            id="com.sogeti.rental.ui.CustomerView"
            name="Customer View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspectives.RentalPerspective"
            icon="icons/Rentals.png"
            id="com.sogeti.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.sogeti.rental.ui.palettePreferences"
            class="com.sogeti.rental.ui.preferences.RentalColorPreference"
            id="com.sogeti.rental.ui.preferences"
            name="Default">
      </page>
      <page
            class="com.sogeti.rental.ui.preferences.PalettePreference"
            id="com.sogeti.rental.ui.palettePreferences"
            name="Palette Préférences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sogeti.ui.handlers.SampleHandler"
            id="com.sogeti.rental.ui.RentalCommand"
            name="Rental Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.sogeti.rental.ui.menus.RentalMenu"
               label="Rental Menu">
            <command
                  commandId="com.sogeti.rental.ui.RentalCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <menu
               id="com.sogeti.rental.ui.menus.RentalMenu"
               label="Touchmytralala">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.AgencyView?after=additions">
         <command
               commandId="com.sogeti.rental.ui.RentalCommand"
               label="Rental Command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.sogeti.rental.ui.palette">
      <palette
            class="com.sogeti.rental.ui.palettes.DefaultPalette"
            id="com.sogeti.rental.ui.defaultPalette"
            name="Default">
      </palette>
      <palette
            class="com.sogeti.rental.ui.palettes.YellowPalette"
            id="com.sogeti.rental.ui.yellowPalette"
            name="Yellow">
      </palette>
   </extension>

</plugin>
